In [13]:
#Import Dependency
import pandas as pd

In [14]:
#Read in CSVs as Dataframes
Jan_df=pd.read_csv("201801-citibike-tripdata.csv")
Feb_df=pd.read_csv("201802-citibike-tripdata.csv")
Mar_df=pd.read_csv("201803-citibike-tripdata.csv")
Apr_df=pd.read_csv("201804-citibike-tripdata.csv")
May_df=pd.read_csv("201805-citibike-tripdata.csv")

In [15]:
#Represent each DF with a variable and concatenate the variables into 1 new DF
Jan=Jan_df
Feb=Feb_df
Mar=Mar_df
Apr=Apr_df
May=May_df
JanMay_df=pd.concat([Jan,Feb,Mar,Apr,May])

In [16]:
#Eliminated start stations with Latitudes >45
Goodstarts_df=JanMay_df[JanMay_df["start station latitude"]<45]

In [17]:
#Eliminated end stations with Latitudes >45
Goodstartends_df=Goodstarts_df[Goodstarts_df["end station latitude"]<45]

In [18]:
#I Gave the columns more elegant and descriptive names
Goodstartends_df.rename(columns={"tripduration":"Trip Duration (s)","starttime":"Start Time (ISO)","stoptime":"Stop Time (ISO)","start station id":"Start Station ID","start station name":"Start Station Address","start station latitude":"Start Station Latitude","start station longitude":"Start Station Longitude","end station id":"End Station ID","end station name":"End Station Address","end station latitude":"End Station Latitude","end station longitude":"End Station Longitude","bikeid":"Bike ID","usertype":"User Type","birth year":"User Birth Year","gender":"Gender (0=Unspecified, 1=Male, 2=Female)"},inplace=True)

In [19]:
Goodstartends_df

,Trip Duration (s),Start Time (ISO),Stop Time (ISO),Start Station ID,Start Station Address,Start Station Latitude,Start Station Longitude,End Station ID,End Station Address,End Station Latitude,End Station Longitude,Bike ID,User Type,User Birth Year,"Gender (0=Unspecified, 1=Male, 2=Female)"
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824705,1604,2018-05-31 22:08:40.5020,2018-05-31 22:35:25.2080,3686,Gansevoort St & Hudson St,40.739448,-74.005070,480,W 53 St & 10 Ave,40.766697,-73.990617,16857,Subscriber,1986,2
1824706,1946,2018-05-31 22:14:50.6050,2018-05-31 22:47:16.7380,3686,Gansevoort St & Hudson St,40.739448,-74.005070,79,Franklin St & W Broadway,40.719116,-74.006667,28299,Subscriber,1983,1
1824707,1931,2018-05-31 22:15:14.2790,2018-05-31 22:47:25.9680,3686,Gansevoort St & Hudson St,40.739448,-74.005070,79,Franklin St & W Broadway,40.719116,-74.006667,18081,Subscriber,1993,2
1824708,664,2018-05-31 22:26:50.8410,2018-05-31 22:37:54.9780,3686,Gansevoort St & Hudson St,40.739448,-74.005070,477,W 41 St & 8 Ave,40.756405,-73.990026,32611,Subscriber,1979,1
1824709,1318,2018-05-31 23:28:56.7270,2018-05-31 23:50:55.0910,3686,Gansevoort St & Hudson St,40.739448,-74.005070,2021,W 45 St & 8 Ave,40.759291,-73.988597,31515,Subscriber,1982,1

In [9]:
#I exported the DF as a CSV
Goodstartends_df.to_csv(r'Citibike2018Jan-May.csv',index=False)